/target/

/logs/

/base_on_bert/data/

/base_on_bert/output/

/base_on_bert/pb/

/cluster/output

/bert_with_lstm/data/

/bert_with_lstm/output/

/bert_with_lstm/summarys/

!.mvn/wrapper/maven-wrapper.jar

### STS ###

.apt_generated

.classpath

.factorypath

.project

.settings

.springBeans

.sts4-cache

### IntelliJ IDEA ###

.idea

.idea/

*.iws

*.iml

*.ipr

### NetBeans ###

/nbproject/private/

/build/

/nbbuild/

/dist/

/nbdist/

/.nb-gradle/

/__pycache__/

